/**
 * RESET STYLES
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}
header, footer, aside, nav, article {  
   display: block;  
}

/**
 * CONTROLS
 */
.buttons {
	position: relative;
	top: 14px;
	margin-left: 50px;
	background-color: grey;
	width: 590px;
        padding: 5px;
}

.controls {
    display: block;
}

.controls ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.controls ul li {
    height: 35px;
    line-height: 35px;
    float: left;
}

.AND {
    background-image: ulr('test.png');
    background-repeat: no-repeat;
    width: 71px;
    height: 71px;
}

/**
 * CANVAS
 */
.canvases {
	position: absolute;
	top: 50px;
	left: 50px;
}
canvas {
    background: transparent;
    position: relative;
    top: 0px;
    left: 0px;
}
#grid {
	z-index: 0;
}
#static {
	z-index: 1;
}
#moving {
	z-index: 2;
}
