/**
 * RESET STYLES
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}
header, footer, aside, nav, article {  
   display: block;  
}
img {
    border: 0;
    display: block;
}

/**
 * BODY
 */
 body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F0F0F0;
}

/**
 * CONTROLS
 */
.menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F0F0F0;
    overflow: hidden;
    width: 100%;
    min-width: 500px;
}

.header li {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}

.row {
    clear: both;
    overflow: hidden;
    padding-bottom: 4px;
}

.file {
    width: 200px;
}
.gates {
    width: 160px;
}
.io {
    width: 54px;
}
.modes {
    width: 54px;
}
.controls {
    width: 100px;
}

.col {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.col:not(:first-child) {
    border-left: 1px solid black;
}
    .col li {
        height: 40px;
        float: left;
        padding: 0px 5px 5px 5px;
    }
    .col img {
        clear: both;
    }
    .col a {
        display: block;
        text-decoration: none;
        color: #111;
        text-shadow: 0px 1px 0px white;
        font-size: 11px;
        vertical-align: bottom;
        padding: 5px 5px 2px 5px;
        text-align: center;
    }
    .col a:hover, .col .active {
        background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#248ed4));
        background: -webkit-linear-gradient(top, #65a9d7, #248ed4);
        background: -moz-linear-gradient(top, #65a9d7, #248ed4);
        background: -ms-linear-gradient(top, #65a9d7, #248ed4);
        background: -o-linear-gradient(top, #65a9d7, #248ed4);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        text-decoration: none;
        background-color: #65a9d7;
    }

/**
 * CANVAS
 */
.canvases {
	position: absolute;
	top: 130px;
	left: 100px;
}
canvas {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
#grid {
	z-index: 0;
    background-color: #FFFFFF;
}
#static {
	z-index: 1;
}
#moving {
	z-index: 2;
}
